<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>
    {% block title %}
    {% endblock title %} 
    BeerU
  </title>
</head>
<body class="
  flex
  flex-col
  bg-teal-50
  box-border
  min-h-screen
">
    {% include '_navbar.html' %}
    <div class="
      flex-1
      p-4
    ">
      <header>
        {% block header %}
        {% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">
          {{ message }}
        </div>
      {% endfor %}
      {% block content %}
      {% endblock content %}
    </div>
    {% include '_footer.html' %}
</body>
</html>
