<div>
  <div>
    <p>
      Featured
    </p>
  </div>
  <p>
    <a href="{{url_for('beer.index', id=featured['id'])}}" class="
      block
      duration-300
      hover:bg-teal-500
      hover:font-semibold
      hover:text-white
      p-2
      rounded-md
      text-sm
      transition
      {{'bg-teal-500 text-white' if route == 'review' else ''}}

    ">
      {{ featured.name }}
    </a>
  </p>
  <p>
    {{ featured.total_reviews }} reviews ( {{ featured.average_rating }} average rating )
  </p>
  <p>
    {{ featured.description }}
  </p>
</div>
