<div>
  <p>
    Recent Reviews
  </p>
  <div class="
        flex
        flex-wrap
        gap-4
        items-center
        justify-items-center
      ">
    {% for rv in reviews %}
      <div class="
            bg-teal-200
            flex
            flex-col
            h-40
            p-2
            justify-between
            rounded-md
            w-96
          ">
        <p class="truncate">{{rv.title}}</p>
        <span>Reviewed: {{rv.created.strftime('%Y-%m-%d')}}</span>
        <p>
          Rated {{rv.rating}} of 5 by {{rv.username}}
        </p>
        <p class="truncate">
          {{ rv.comment }}
        </p>
        {% if rv.comment %}
          <a href="review/{{rv.review_id}}" class="
            block
            duration-300
            hover:bg-teal-500
            hover:font-semibold
            hover:text-white
            p-2
            rounded-md
            text-sm
            transition
            w-24
            {{'bg-teal-500 text-white' if route == 'beers' else ''}}
          ">
            Read More
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
