<div>
  {% if listings %}
    <p>
      Recent Reviews
    </p>
  {% endif %}
  <div class="
        flex
        gap-4
        flex-wrap
        items-center
        justify-evenly
        mt-4
      ">
    {% for review in reviews %}
      <div class="
            bg-teal-300
            flex
            flex-col
            {{ 'h-40' if isListings else 'h-96'}}
            p-2
            justify-start
            rounded-md
            w-96
          ">
        <p class="truncate">
          <a class="block rounded-md w-full truncate " href="{{ url_for('beer.index', id=review['beer_id']) }}">
            {{ review.title }}
          </a>
        </p>
        <p>Reviewed: {{review.created.strftime('%Y-%m-%d')}}</p>
        <p>
          Rated {{review.rating}} of 5 by
              <a href="{{ url_for('review.user_reviews', id=review['author_id']) }}" class="
                duration-300
                hover:bg-teal-500
                hover:font-semibold
                hover:text-white
                p-1
                rounded-md
                text-sm
                text-center
                transition
                w-24
                {{'bg-teal-500 text-white' if route == 'beers' else ''}}
              ">
                {{review.username}}
              </a>
        </p>
        <p class="{{'truncate' if isListings }} flex-grow">
          {{ review.comment }}
        </p>
        {% if isListings and review.comment and review.comment|length > 35 %}
          <a href="{{ url_for('review.detail', id=review['id']) }}" class="
            block
            duration-300
            hover:bg-teal-500
            hover:font-semibold
            hover:text-white
            p-2
            rounded-md
            text-sm
            transition
            w-24
            {{'bg-teal-500 text-white' if route == 'beers' else ''}}
          ">
            Read More
          </a>
        {% endif %}
        {% if g.user['id'] == review.author_id %}
          <div class="flex flex-wrap justify-around">
            <form class="rounded-md w-24" action="{{ url_for('review.delete', id=review['id']) }}" method="POST">
              <input class="rounded-md w-full bg-red-300" type="submit" value="Delete">
            </form>
            <div class="rounded-md w-24">
              <a class="block rounded-md w-full bg-green-300 text-center" href="{{ url_for('review.update', id=review['id']) }}">
                Update
              </a>
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}

  </div>
</div>
