<div>
  <p>
    Recent Reviews
  </p>
  <div class="
        flex
        flex-wrap
        gap-4
        items-center
        justify-items-center
      ">
    {% for review in reviews %}
      <div class="
            bg-teal-200
            flex
            flex-col
            h-40
            p-2
            justify-between
            rounded-md
            w-96
          ">
        <p class="truncate">{{review.title}}</p>
        <span>Reviewed: {{review.created.strftime('%Y-%m-%d')}}</span>
        <p>
          Rated {{review.rating}} of 5 by {{review.username}}
        </p>
        <p class="truncate">
          {{ review.comment }}
        </p>
        {% if review.comment %}
          <a href="review/{{review.id}}" class="
            block
            duration-300
            hover:bg-teal-500
            hover:font-semibold
            hover:text-white
            p-2
            rounded-md
            text-sm
            transition
            w-24
            {{'bg-teal-500 text-white' if route == 'beers' else ''}}
          ">
            Read More
          </a>
        {% endif %}
        {% if g.user['id'] == review.author_id %}
          <div class="flex flex-wrap justify-around">
            <form class="rounded-md w-24" action="{{ url_for('review.delete', id=review['id']) }}" method="POST">
              <input class="rounded-md w-full bg-red-300" type="submit" value="Delete">
            </form>
            <div class="rounded-md w-24">
              <a class="block rounded-md w-full bg-green-300 text-center" href="{{ url_for('review.update', id=review['id']) }}">
                Update
              </a>
            </div>
          </div>
        {% endif %}
      </div>
    {% endfor %}

  </div>
</div>
