{% extends "base.html" %}

{% block title %}
    About
{% endblock title %}

{% block content %}
    <div>
        <!-- <h1 class="text-center">Index</h1> -->
        <p>
         Lorem ipsum dolor sit amet consectetur adipisicing, elit. Dolore adipisci, architecto nulla voluptatibus earum et eos eveniet soluta perferendis vero sint fuga voluptatum commodi, totam error pariatur qui illo doloremque?
         Quisquam, similique. Tempora fugiat quod amet aperiam assumenda sunt rerum doloremque saepe voluptas odio mollitia expedita, rem possimus qui, perferendis reiciendis beatae, accusamus debitis, cupiditate porro. Nam inventore odit eos.
         Amet deserunt nostrum inventore tempora, doloribus excepturi esse quidem maxime aperiam deleniti, facilis iusto asperiores dolore cupiditate culpa, nesciunt illum sapiente beatae! Hic vitae, adipisci voluptates quibusdam quidem, facilis molestias.
        </p>
        <p>
         Velit officia fugiat unde earum reiciendis illum eveniet odio libero magnam veritatis. Necessitatibus voluptas eveniet, earum, quis perspiciatis ullam id atque, repudiandae quas eligendi similique iste ipsam delectus exercitationem? Illo!
         Repudiandae nam, assumenda saepe autem iste explicabo reprehenderit quis quia cumque placeat nobis recusandae dignissimos deserunt. Adipisci, eligendi, eius. Placeat repudiandae excepturi amet, incidunt delectus doloribus mollitia repellat, minima corrupti.
         Nulla quam officia explicabo, nesciunt modi corporis eaque perspiciatis magni atque animi quidem, et aperiam, reiciendis fuga. Modi, praesentium ipsa voluptates cumque quaerat reprehenderit quae, tempore aperiam exercitationem quisquam tempora.
         Sit atque non voluptatem, quisquam nulla harum sint quis ex eveniet dolorum cupiditate quaerat. Temporibus quaerat nobis alias labore incidunt sapiente porro minima? Harum animi atque minima ratione optio, itaque.
         Iusto perspiciatis facere nam beatae quam culpa id nemo quisquam impedit, vel nulla veritatis necessitatibus, cupiditate sunt, cum ad laboriosam officiis ipsum quaerat. Beatae necessitatibus nesciunt, unde, blanditiis ea dignissimos.
         Incidunt autem quibusdam accusamus. Ratione corporis at voluptate laboriosam, voluptatibus dolor eum quam amet atque explicabo, doloribus blanditiis ab pariatur veritatis similique consectetur debitis molestiae esse. Iure maiores architecto laborum.
         Distinctio, ad iure repellendus voluptatibus suscipit, dolorum. Architecto, sunt ratione sed assumenda fugiat! Temporibus, et cum corporis. Omnis sequi cum id, beatae. A facere non sed veniam perferendis laboriosam laborum.
        </p>
    </div>
{% endblock content %}
